#!/usr/bin/env bash

alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias sc='shellcheck install.sh .aliases .funcs .path'

alias ss='. ~/.zshrc'
alias v='vim'
alias vv='vim ~/.vimrc'
alias vs='vim ~/.zshrc'
alias y='yarn'
alias yy='yarn deps:install'

# Mobile development
alias dm='adb shell input keyevent 82'
