#!/usr/bin/env bash

alias df='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dfp='df push origin master'

alias sc='shellcheck install.sh .aliases .funcs .path'

alias ss='. ~/.zshrc'
alias v='vim'
alias vv='vim ~/.vimrc'
alias vs='vim ~/.zshrc'
alias y='yarn'
alias yy='yarn deps:install'
